- body_css 'checkout'

.row
  .eight.columns.centered
    %h2.content-center Start your subscription today
    %p.registration-form
      Already have an account?
      %a{ href: 'javascript:void(0)', data: { toggle: 'signin-form' } }
        Sign in.
    %p.signin-form
      Don't have an account?
      %a{ href: 'javascript:void(0)', data: { toggle: 'registration-form' } }
        Create a new account.
    = render 'form'
    = render 'devise/sessions/form'
