.meta-container
  +pad(20px 0)

  .lesson-heading
    +clearfix
    padding-right: 90px

    h1
      float: left
      line-height: $line-height-small
      margin: 0

    .lesson-duration
      +font-size(24px)
      color: darken($light-shade, 18%)
      float: right
      line-height: 52px
      margin-right: -90px

    .lesson-meta
      +pad(10px 0 20px)
      clear: left
      color: $text-muted
