.checkout-form
  %h4 Payment Information
  #braintree-purchase-form
  = simple_form_for @purchasable, url: [@purchasable, :purchase], html: { id: 'purchase-form' }, method: :post do |f|
    = f.button :submit, t('button.purchase.new'), class: 'button button-large button-purple wide', data: { 'disable-with': 'Processing...'}
