$component-colors: (
  default:    (base: #F0F2F7, font: #384047),
  red:        (base: #EF4E4E, font: #FFFFFF),
  pink:       (base: #FC7279, font: #FFFFFF),
  purple:     (base: #A177FF, font: #FFFFFF),
  indigo:     (base: #3F51B5, font: #FFFFFF),
  blue:       (base: #5B9BD1, font: #FFFFFF),
  brand:      (base: #44BBFF, font: #FFFFFF),
  turquoise:  (base: #3BE8B0, font: #FFFFFF),
  teal:       (base: #009688, font: #FFFFFF),
  green:      (base: #61D395, font: #FFFFFF),
  lime:       (base: #CDDC39, font: #FFFFFF),
  yellow:     (base: #FFEB3B, font: #FFFFFF),
  amber:      (base: #FFC019, font: #FFFFFF),
  orange:     (base: #FF9800, font: #FFFFFF),
  grey:       (base: #7B8B8E, font: #FFFFFF),
  white:      (base: #FFFFFF, font: #384047)
);

$gradient-colors: (
  'purple-blue':    (from: #A177FF, to: #44BBFF, font: #FFFFFF),
  'red-orange':     (from: #EF4E4E, to: #FF9800, font: #FFFFFF),
  'purple-pink':    (from: #A177FF, to: #FC7279, font: #FFFFFF),
  'turquoise-blue': (from: #3BE8B0, to: #44BBFF, font: #FFFFFF)
);

$avatar-colors: (
  a:  (base: #3BE8B0, font: #FFFFFF),
  b:  (base: #6A69A0, font: #FFFFFF),
  c:  (base: #E66F5E, font: #FFFFFF),
  d:  (base: #40ACC6, font: #FFFFFF),
  e:  (base: #81CC88, font: #FFFFFF),
  f:  (base: #F4EC6A, font: #FFFFFF),
  g:  (base: #41B0DC, font: #FFFFFF),
  h:  (base: #9C5073, font: #FFFFFF),
  i:  (base: #A177FF, font: #FFFFFF),
  j:  (base: #C66673, font: #FFFFFF),
  k:  (base: #6A2C70, font: #FFFFFF),
  l:  (base: #CDDC39, font: #FFFFFF),
  m:  (base: #FC7279, font: #FFFFFF),
  n:  (base: #C0B6D9, font: #FFFFFF),
  o:  (base: #FF9800, font: #FFFFFF),
  p:  (base: #7496B1, font: #FFFFFF),
  q:  (base: #86D04C, font: #FFFFFF),
  r:  (base: #E98B65, font: #FFFFFF),
  s:  (base: #3D84A8, font: #FFFFFF),
  t:  (base: #5EBEBA, font: #FFFFFF),
  u:  (base: #AF4667, font: #FFFFFF),
  v:  (base: #FFE26F, font: #FFFFFF),
  w:  (base: #F38181, font: #FFFFFF),
  x:  (base: #B6B2C5, font: #FFFFFF),
  y:  (base: #1AAFD0, font: #FFFFFF),
  z:  (base: #48466D, font: #FFFFFF)
);

$card-colors: (
  1:  (base: #A177FF, font: #FFFFFF),
  2:  (base: #CDDC39, font: #FFFFFF),
  3:  (base: #EF4E4E, font: #FFFFFF),
  4:  (base: #3BE8B0, font: #FFFFFF),
  5:  (base: #FC7279, font: #FFFFFF),
  6:  (base: #3F51B5, font: #FFFFFF),
  7:  (base: #FFC019, font: #FFFFFF),
  8:  (base: #5B9BD1, font: #FFFFFF),
  9:  (base: #009688, font: #FFFFFF),
  10: (base: #2ECC71, font: #FFFFFF),
  11: (base: #44BBFF, font: #FFFFFF),
  12: (base: #FF9800, font: #FFFFFF)
);

$status-colors: (
  draft:     (base: #7B8B8E, font: #FFFFFF),
  published: (base: #61D395, font: #FFFFFF),
  scheduled: (base: #fcf5c8, font: #f4bc15)
);
