%h3 Cancel Subscription
= link_to t('button.subscription.cancel'), cancel_subscription_path, class: 'button button-red button-small', method: :delete, data: { confirm: t('subscriptions.cancel.confirm') }
