- cache [cache_key_base, lesson, 'admin'] do
  %li.list-item{ data: { element: 'lesson', lesson_id: lesson.id } }
    .topic-wrapper
      .icon-holder
        = icon_tag :drag, class: 'draggable', data: { tooltip: t('tooltip.reorder', element: 'lessons'), tooltip_position: 'right middle' }
      = link_to t('lessons.preview'), preview_course_lesson_path(@course, lesson), class: 'button button-small button-green pull-right'
      %h5= lesson.title
