- content_for :page_title, t('titles.devise.sessions.new')

.row
  .six.columns.centered.reset-mobile-column
    .box
      .box-header
        %h3.content-center Sign into your account
      .box-content
        = render 'form'
        = render 'devise/shared/links'
