- enrollment = current_user.enrollments.build( course_id: resource.id )
= simple_form_for enrollment, url: course_enrollment_path(resource) do |f|
  = f.submit t('button.course.enroll'), class: 'button button-purple'
