- content_for :page_title, @course.name
- content_for :page_description, @course.short_description

.course-header
  %h1
    = @course.name
  %h3 Course progress
= render partial: 'sections/section_for_enrollees', collection: @sections, as: :section, locals: { css_class: '' }, cached: true
