- if flash.present?
  - flash.each do |name, msg|
    - if msg.respond_to?("each")
      - msg.each do |item|
        :coffeescript
          $.growl
            title: ''
            message: "#{item}"
            style: "#{alert_for(name)}"
            duration: '5000'
    - else
      :coffeescript
        $.growl
          title: ''
          message: "#{msg}"
          style: "#{alert_for(name)}"
          duration: '5000'
