- content_for :page_title, title(user_name: current_user.name)

.row
  = render partial: 'accounts/sidebar'
  .nine.columns.reset-mobile-column
    = render 'accounts/payment_method'
    = render 'charges'
    = render partial: 'subscriptions/cancel' if current_user.has_active_subscription?
